<html>
  <head>
    <title>Booking Confirmation</title>
  </head>
  <body>
    <h1>Booking Confirmation</h1>
    <p>Hello {{firstName}} {{lastName}},</p>
    <p>Thank you for your booking. Here are the details:</p>
    <ul>
      <li>Booking Reference: {{referenceNumber}}</li>
      <!-- Add more details as needed -->
    </ul>
    <p>You can complete your booking by follow this link
      <a href={{paymentLink}}>{{paymentLink}}</a>
    </p>
    <p>Best regards,<br />30 SecondsToFly</p>
  </body>
</html>